{% load i18n %}
<div class="modal-dialog">
    <form method="post" action="{% url 'fakelogin:modal' %}">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans 'Change user' %}</h4>
                <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'app_base/forms/select2.html' with field=form.field_user %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-link" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-secondary" type="submit">{% trans "Change" %}</button>
            </div>
        </div>
    </form>
</div>
